.lorem {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 193, 240);
  }
  .navbar {
    width: 100%;
    background-color: rgb(34, 34, 243);
    color: white;
    height: 50px;
  }
  .nav li {
    list-style: none;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  .navbar .logo {
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
  }
  .container {
    width: 75%;
    margin: auto;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .navbar ul {
    display: flex;
    margin-right: 20px;
  }
  .nav li {
    margin: 15px;
  }
  
  .vidurys .container {
    display: flex;
    justify-content: center;
  }
  
  
  .geltonas {
    background-color: yellow;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .geltonas h3 {
    font-size: 25px;
  }
  .raudonas {
    background-color: red;
    height: 100%;
  }
  .raudonas .container {
    display: flex;
    justify-content: space-between;
  }
  .colum20 {
    width: 20%;
  }
  .colum20 ul li {
    list-style: none;
  }
  
  .card{
    width: 30%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .card-photo{
    background-color: green;
    width: 100%;
    height: 200px;
  }
  
  .card-body{
    padding-left: 10px;
    height: 200px;
  }
  
  .boxai2 .container {
    display: flex;
    justify-content:space-between;
  }